
    
.color {
    background-color: red;
    color: rgb(42, 165, 61);
}
.addclass {
    background-color: red;
    color: red;
    width: 200px;
    height: 200px;

}

.removeclass {
    background-color:rgb(23, 114, 23);
    color:red;
}
#buttons {
    width: 200px;
    height: 200px;
    
}


